body {
  max-width: 720px;
}

body * {
  color: #2a2a2a;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background: none;
}

.base {
  background: #f9f9f9;
}

.base > .background-image {
  background-attachment: fixed;
}

.bold {
  font-weight: bold;
}

.underline {
  border-bottom: 2px solid #2a2a2a;
}

.underline.liz {
  border-bottom-color: #ff9bdd;
}

.underline.lita {
  border-bottom-color: #ffcd9b;
}

.margin {
  margin: 0.5em;
}

h2 {
  margin-top: 1em;
  padding: 0.2em 1em;
  color: #f9f9f9;
  background: #2a2a2a;
  background: #2a2a2a;
  font-size: 1.8em;
  font-weight: bold;
  border-radius: 0.1em;
}

h3 {
  font-size: 1.2em;
  margin-top: 1em;
  padding: 0.2em 1em;
  border-bottom: 2px solid #2a2a2a;
  font-weight: bold;
}

h3 a {
  font-size: 1em;
}

h4 {
  margin-top: 1em;
  padding: 0.2em 1em;
  border-bottom: 1px solid #2a2a2a;
  font-weight: bold;
}

.logo img {
  width: 100%;
}

.lyric {
  margin: 1em 0em;
}

.lyric > p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0em;
}

.article > p {
  margin: 0.5em;
  text-indent: 0.5em;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}

.profile {
  overflow: auto;
}

.profile * {
  background-color: transparent;
}

.profile table {
  width: 49%;
}
.profile table.lita {
  float: left;
}
.profile table.liz {
  float: right;
}

.profile table th.name {
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  color: #f9f9f9;
}

.profile table th {
  padding: 0.2em;
  text-align: center;
  font-weight: bold;
  color: #f9f9f9;
  border: 2px solid #f9f9f9;
}

.profile table th {
  border-radius: 0.2em;
}

.profile table.lita th {
  background-color: #ffcd9b;
}

.profile table.liz th {
  background-color: #ff9bdd;
}

.profile table td {
  text-align: center;
  background: #f9f9f9;
  border: 2px solid #f9f9f9;
  border-radius: 0.2em;
}

.profile table.lita td {
  border-bottom: 2px solid #ffcd9b;
  border-right: 2px solid #ffcd9b;
  color: #ffcd9b;
}
.profile table.liz td {
  border-bottom: 2px solid #ff9bdd;
  border-right: 2px solid #ff9bdd;
  color: #ff9bdd;
}

.profile table td a {
  text-align: center;
  background: #f9f9f9;
}
.profile table.lita td a {
  color: #ffcd9b;
}
.profile table.liz td a {
  color: #ff9bdd;
}

.profile table.lita td.icon {
  background: #ffcd9b;
  border-bottom: 2px solid #f9f9f9;
  border-right: 2px solid #f9f9f9;
  border-radius: 0.2em;
}

.profile table.liz td.icon {
  background: #ff9bdd;
  border-bottom: 2px solid #f9f9f9;
  border-right: 2px solid #f9f9f9;
  border-radius: 0.2em;
}

.profile img.icon {
  width: 90%;
  margin: 0.5em;
  border-radius: 0.1em;
}

.list {
  margin: 0.5em;
}

.list ul {
  padding-left: 1em;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}
.list ul.first {
  list-style: disc outside;
}
.list ul.second {
  margin-left: 0.5em;
  list-style: circle outside;
}

.list li > p {
  margin-left: 1em;
}

.scroll {
  margin: 0.5em;
  box-shadow: 1px 1px 5px -1px #2a2a2a inset;
  border: solid 1px #2a2a2a;
  overflow: auto;
}
.scroll.history {
  max-height: 17.25em;
}
.scroll.music {
  max-height: 28.5em;
}
.scroll.collaboration,
.scroll.program,
.scroll.event {
  max-height: 12em;
}
.scroll.kmnsupply,
.scroll.guest {
  max-height: 9em;
}
.scroll.kmnzart {
  max-height: 28em;
  background: #2a2a2a;
  text-align: center;
}

.kmnzart .square {
  display: inline;
  background: #2a2a2a;
  padding: 1em;
}

.kmnzart a,
.kmnzart img {
  background: #2a2a2a;
  max-width: 300px;
  max-height: 300px;
}

.annotation {
  text-align: right;
  font-size: 13px;
  line-height: 1.75em;
  letter-spacing: 0.05em;
}

.underline-normal {
  background: linear-gradient(#f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #f9f9f9, #9bdfff);
}

a.mv {
  color: #f9f9f9;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
}
a.mv.lita {
  background: linear-gradient(#ffcd9b, #ffcd9b, #ffcd9b, #ff9bdd);
}
a.mv.liz {
  background: #ff9bdd;
}
a.mv.lita.liz {
  background: linear-gradient(#ffcd9b, #ff9bdd);
}
a.mv.lita.liz.yaca {
  background: linear-gradient(#ffcd9b, #ff9bdd, #ddff9a);
}
a.mv.lita.liz.ponpoko {
  background: linear-gradient(#ffcd9b, #ff9bdd, #ddff9a);
}
